# Ignore node_modules directory
node_modules/

# Ignore npm debug log
npm-debug.log

# Ignore yarn lockfile
yarn.lock

# Ignore .env files which may contain sensitive information
.env
package-lock.json

# Ignore any temporary files
*.tmp

# Ignore any local configuration specific to your machine
.DS_Store

# Ignore editor-specific files
.vscode/
.idea/
.vercel